h1,img {font-family: 'Indie Flower', cursive; text-align: center;}
p {font-family: 'Teko', sans-serif;}

img {
    float: left;
    border: 1px solid black;
    margin-right: 15px;
}

main {max-width: 20px;}

.name {
    font-weight: bold;
    color:#be5e00
}